*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-color: #1f1f21;
    --text-color: #fff;
    --main-color: #ffae00;
    scroll-behavior: smooth;
    --big-font: 7rem;
    --p-fon: 1.1rem;
}

body{
    background:#1f1f21;
    color: #fff;
    overflow-x: hidden;
}

header{
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 15%;
    background: #27272766;
    transition: all ease .45s;
}

.logo{
    color: #fff;
    font-size: 41px;
    font-weight: 600;
}

.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar  a{
    font-size:1.1rem;
    font-weight: 400;
    color: #fff;
    margin: 0 30px;
    transition: all ease .50s;
}

.navbar a:hover{
    color: #ffae00;
}

.navbar a:active{
    color: #ffae00;
}

.menu-btn{
    background: linear-gradient(130.08deg, #5c553a 0%, #ffae00 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#menu-icon{
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}


section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
}

.home-initial{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
}

.home-img{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-img img{
    object-fit: cover;
}




/*este es de software developer*/
.home-text span{
    padding: 5px 15px;
    background: linear-gradient(130.08deg, #383528 0%, #ffae00 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 100px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.home-text{
    margin-left:100px;
    width: 55%;
}

.home-text h1{
    font-size: 4rem;
    margin: 23px 0;
}

.home-text p{
    font-size: 1.3rem;
    font-weight: 400;
    color: #c3c3c3; 
    line-height: 30px;
    margin-bottom: 30px;
}
/*SECTION SEGUNDO*/
.home-initial2{
    gap:30px;
    background: linear-gradient(to bottom, #333, #666);
    box-shadow: 0px 20px 40px #08080883;
}

.btn{
    display: inline-block;
    padding: 12px 30px;
    background: #ffae00;
    color: #fff;
    border: 2px solid #ffae00;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
}

.btn:hover{
    transform: transLateY(-5px);
    background: transparent;
    color: #ffae00;
}

.two{
    background: #A89E9B;
    border: 2px solid #141414;
    color:#141414;
    margin-left: 25px;
}
.two:hover{
    color: #ffae00;
    background: #fff;
    border: 2px solid #fff;
}

.share{
    position: absolute;
    bottom: 3rem;
    left: 15%;
    display: flex;
    align-items: center;
}

.share p{
    font-size: 17px;
    color: #fff;
    margin-right: 25px;
}

.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 40px;
    box-shadow: 0px 20px 40px #00000070;
    border: 2px solid #3b3b3b;
    border-radius: 50%;
    color: #fff;
    font-size: 35px;
    margin: 0 7px;
    transition: all 0.6s ease-in-out;
}

.social i:hover{
    transform: translateY(-10px);
}


.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300px;
}

.linea{
    border-top: 5px solid #9f9f9d;
}

.content-imagenes{
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.content-imagenes .imagen{
    width:32%;
    position: relative;
    margin-bottom: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 75);
}

.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(130.08deg,  #08080870 0%, #000000e5 100%);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.overlay h2{
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    
    
}

.imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
}


/*sobre mi */
.generalMe {
    position: relative;
    width: 100%;
    height: 100vh;
    gap:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #333, #888);
    padding: 20px;
}

.sobreMi {
    flex: 1;
    margin-right: 30px;
    margin-left: 100px;
    font-family: 'Courier New', Courier, monospace;
}


.sobreMi p{
    font-size: 1.1rem;
    color: #c3c3c3; 
    line-height: 20px;
    margin-bottom: 20px;
}


.imag-Sobremi {
    flex: 1;
    text-align: center;
}

.imag-Sobremi img {
    max-width: 100%;
}






/* Estilo del pie de página */
footer {
    background-color: #414141be;
    color: #fff;
    padding: 50px 0;
}

.contenedor-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenr-foo {
    text-align: center;
    flex: 1;
    padding: 30px;
}

.contenr-foo h4 {
    margin: 0;
}

.titulo-final {
    text-align: center;
    color: #ffae00;
}


.home-img img{
    animation: imgg 2s ease-in-out ;
}

@keyframes imgg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0);
    }
}

@media screen and (max-width: 1020px) {
    header{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
    }

    .logo{
        margin-bottom: 10px;
    }

    section{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .home-img{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .home-img img{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-text{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

        .generalMe {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 20px;
        }
    
        .sobreMi {
            margin-left: 0;
            margin-right: 0;
        }

        .imag-Sobremi {
            margin-bottom: 15px;
            text-align: center; 
        }
    
        .imag-Sobremi img {
            max-width: 25%;
        }

        .contenedor-footer {
            flex-direction: column;
            align-items: center; 
        }
    
        .contenr-foo {
            flex: 1; 
            margin-bottom: 20px; 
        }

  }

  @media screen and (max-width: 730px) {
    header {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    section {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .home-img {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .home-img img {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-text {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .seccion-btn{
        text-align: center;
    }

    .seccion-btn .btn{
        margin: 7px;
    }

    .content-imagenes{
        width: 95%;
    }

    .overlay{
        background: linear-gradient(180deg, #08080870 0%, #000000e5 100%);
    }

    .overlay h2 {
        font-size: 18px;
    }

    .generalMe {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .sobreMi {
        margin-left: 0;
        margin-right: 0;
    }

    .imag-Sobremi {
        margin-bottom: 5px;
        text-align: center;
    }

    .imag-Sobremi img {
        max-width: 15%;
    }

    .contenedor-footer {
        flex-direction: column;
        align-items: center;
    }

    .contenr-foo {
        flex: 1;
        margin-bottom: 20px;
    }

    .contenedor-footer{
        flex-direction: column;
        align-items: center;
    }

    .contenr-foo{
        float: 1;
        margin-bottom: 20px;
    }

    .titulo-final{
        text-align: center;
    }

}



  


  